.sidebar {
    flex: 1;
    min-height: 100vh;
    background-color: rgb(17, 17, 17);
    border-right: 0.5px solid rgb(230, 230, 230);
  
    hr {
      height: 0;
      border: 0.1px solid #333;
    }
  
    /* ===== TOP ===== */
    .top {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .logoLink {
        text-decoration: none;
        color: inherit;
      }
  
      .logo {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: rgb(230, 230, 230);
      }
    }
  
    /* ===== CENTER ===== */
    .center {
      padding-left: 10px;
  
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
  
        .title {
          font-size: 10px;
          font-weight: bold;
          color: #777;
          margin-top: 15px;
          margin-bottom: 5px;
          letter-spacing: 0.08em;
        }
  
        /* li is only a wrapper now */
        li {
          padding: 0;
          margin: 0;
  
          /* the actual clickable item */
          .navLink {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
  
            height: 50px;
            width: 50px;
            padding: 10px;
            border-radius: 25px;
  
            text-decoration: none;
            cursor: pointer;
  
            transition: background-color 0.2s ease, transform 0.06s ease;
  
            .icon {
              font-size: 30px;
              color: #555;
            }
  
            span {
              font-size: 11px;
              font-weight: 600;
              color: #888;
            }
  
            &:hover {
              background-color: rgb(37, 37, 37);
              border-radius: 25px;
            }
  
            &:active {
              transform: scale(0.90);
            }
  
            &.active {
              background-color: rgb(54, 54, 54);
  
              .icon,
              span {
                color: #fbff00;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  
    /* ===== BOTTOM ===== */
    .bottom {
      display: flex;
      align-items: center;
      margin: 10px;
  
      .colorOption {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid goldenrod;
        cursor: pointer;
        margin: 5px;
  
        &:nth-child(1) {
          background-color: rgb(35, 35, 35);
        }
  
        &:nth-child(2) {
          background-color: rgb(255, 234, 113);
        }
      }
    }
  }
  