.calendar {
    display: flex;

    .calendarContainer {
        flex: 6;

        .calendarContent {

            align-items: center;
            justify-content: center;
            width: 100;
            height: 60;
            border-radius: 25;
            background-color: blanchedalmond;

            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

        }
    }
}