.calendarPage {
    width: 100%;
    min-width: 0;
  }
  
  .calendarContent {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    min-height: 60px;
  
    padding: 20px;
    border-radius: 25px;
    background-color: blanchedalmond;
  
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  }
  