.home {
    display: flex;
    
    .homeContainer{
        flex: 6;

        .homeContent{

            .widgets{
                display: flex;
                padding: 20px;
                gap: 20px;
            }
        }
    }
}