.timelinePage {
  width: 100%;
  min-width: 0;
}

.timelineContent {
  position: relative;
  padding: 20px 0;
  background-color: #232323;

  // Layout navbar is 56px in our setup
  min-height: calc(100vh - 56px);
}

.timelineRows {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;

  // keep rows below the timeline header
  padding-top: 48px; // match timelineHeader height
}
