.timeline {
  display: flex;

  .timelineContainer {
    flex: 6;
    background-color: #232323;

    .timelineContent {
        position: relative;
        padding: 20px 0px;

        // makes TimelineGrid (absolute) stretch full visible page height
        min-height: calc(100vh - 64px); // change 64px if your navbar is different
      

      .timelineRows {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        // keep rows below the KW header
        padding-top: 48px; // match timelineHeader height
      }
    }
  }
}